* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: unset;
    font-weight: bold;
}

html{
    font-size: 10px;
}

#nav-bar{
    position: sticky !important;
    top: 0;
    z-index: 10;
}
.nav-bar-container{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0;
    z-index: 10;
}
nav {

    overflow: hidden;

    margin: 0;
    padding-top: 0;
    padding-bottom: 2.2em;
}

.logo {
    float: left;
    padding: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
}

.logo a {
    font-size: 2.5rem;
    letter-spacing: 0px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding-top: 1rem;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a{
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}



@media screen and (max-width: 992px) {
    .logo {
          padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%;
          z-index: -1;
          background: #fff;
          opacity: 0;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          padding-right: 2rem;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 18px;
          letter-spacing: 1.2px;
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 3rem;
          display: block;
          cursor: pointer;
          z-index: 9998;
    }

    .nav-btn i {
          display: block;
          width: 25px;
          height: 4px;
          background: #fff;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 12px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 7px;
    }
}

@media screen and (max-width: 375px){
      .nav-wrapper {
          width: 100%;
    }
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(5px) rotate(-135deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    transform: translateY(-6px) rotate(135deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}


/* banner section */
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, -10% 100%);

}
#banner .promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-des{
    color: #ddd;
    font-size: 12px;
    letter-spacing:1px;
    padding-bottom: 10px;
}
/* for play btn */
.play-btn img{
    width: 35px;
    margin-right: 10px;
}
.play-btn{
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}
.play-btn:hover{
    color: #fff !important;
}
.img-container{
    margin-top:20px;
    margin-bottom: 50px;
}

/* service section */
h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#a517ba;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #a517ba;
position: absolute;
left: 0px;
bottom: -10px;
right:0;
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #a517ba;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#a517ba;
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#a517ba;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #a517ba;
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
background:rgba(247, 198, 5, 0.20);
color:#a517ba
}
.item .feature_box_col_two{
background:rgba(255, 77, 28, 0.15);
color:#a517ba
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#a517ba
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#a517ba
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:#a517ba
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#a517ba
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #a517ba;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #a517ba;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}


/* about section */
.about {
    padding: 50px 0;
    background-color: #ce40e4c5;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, -10% 100%);

}

.about .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.about .heading h2 span {
    color: #fff;
}

.about .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    margin: 20px 0 60px;
    padding: 0;
}

.about h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.about p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    margin: 20px 0 15px;
    padding: 0;
}

.about h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0;
}

.about h4 i {
    color: #a517ba;
    margin-right: 10px;
}

/* available section */
.available{
    background-color: #a517ba;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.available h4{
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.available button{
    width: 350px;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #a517ba;
    border: 1px solid #fff;
}
/* footer section */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #a517ba;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #a517ba;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #a517ba;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #a517ba;
    padding: 13px 20px;
    border: 1px solid #a517ba;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #a517ba;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #a517ba;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* team section */
.team {
    padding: 130px 0;
}

.team h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.team h2 span {
    color: #;
}

.team p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.team .box {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all .5s ease-in-out;
}

.team .box .image {
    position: relative;
    height: 100%;
}

.team .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, # 1%,#56dc1 100%);
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 15;
}

.team .box .image .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    z-index: 20;
    text-decoration: none;
    opacity: 0;
    margin-top: 100px;
    padding: 8px 15px;
    background: #ffffff;
    border-radius: 35px;
    transition: all 0.5s ease-in-out;
}

.team .box .image .social-icons i {
    font-size: 18px;
    padding: 0 7px;
    color: #;
}

.team .box:hover .overlay {
    opacity: 0.85;
}

.team .box:hover .social-icons {
    margin-top: 0;
    opacity: 1;
}

.team .box h3 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}

.team .box h4 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 25px;
}

.team .box:hover {
    transform: translateY(-15px);
}
#backtoTop{
    bottom: 20px;
    right: 20px;
    position: fixed;
    display: none;
}
